/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

 /* html,
 body {
   font-family: "Roboto", sans-serif;
 } */
 
 /* Você pode usar o CSS comentado abaixo, se ajudar */
 /* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
 .btn {
   position: relative;
   display: block;
   padding: 10px 15px;
 
   overflow: hidden;
 
   border-width: 0;
   outline: none;
   border-radius: 2px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
 
   background-color: #f7d736;
 
   transition: background-color 0.3s;
   margin-bottom: 20px;
   padding-bottom: 3%;
 }
 .btn > * {
   position: relative;
 }
 .btn:before {
   content: "";
 
   position: absolute;
   top: 50%;
   left: 50%;
 
   display: block;
   width: 0;
   padding-top: 0;
 
   border-radius: 100%;
 
   background-color: rgba(236, 240, 241, 0.3);
 
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }
 .btn:active:before {
   width: 120%;
   padding-top: 120%;
 
   transition: width 0.2s ease-out, padding-top 0.2s ease-out;
 }
.card{
  width: 12rem;
  height: 7rem;
  margin-bottom: 1rem;
  padding: 1%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
.card-title{
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  padding: 0.25rem 0.25rem 1rem 0.25rem;
  font-size: 1rem;
}
p{
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem;
  color: #4c4c4c;
}
.card-container{
  /* display: flex ;  
  flex-direction: row ;
  flex-wrap : wrap;
  margin: 0.3rem 1.5rem 0.3rem 1.5rem;
  justify-content: space-evenly; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;  
  align-content: center; 
}
.appbar{
  height: 1%;
  background-color: #e0d426 ;
  display: flex;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
.logo{
  display:flex;
  padding: 0.3%;
  width: 100px;
}
.button{
  flex-direction: column;
}
.subtitle{
  margin-left: 1rem;
  padding-top: 25px;
  font-family: 'Permanent Marker', cursive;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  margin: 0.3rem 1.5rem 0.3rem 1.5rem;

}
.delete{
  background-color: rgb(214, 76, 76);
  margin-left: 7rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card{
  width: 12rem;
  height: 7rem;
  margin-bottom: 1rem;
  padding: 1%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.tag-note-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Permanent Marker', cursive;
  color: #666565;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-size: larger;

}
.tag-note {
  position: absolute;
  bottom: 5px;
  left: 10px;
  margin-bottom: 7px;
  margin-left: 7px;
  font-family: 'Permanent Marker', cursive;
  color: #666565;
}
.edit{
  width: 10%;
  height: 14%;
  position:absolute;
  right: 17px;
  margin-top: 1px;
  margin-left: 1px;
  top: 19px;
  

  
}
.autoresize{
  border: 0px;
}
.form-card{
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 32rem;
  padding: 0.7rem;
  margin: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.form-card-title{
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border: 0px;
}
.form-card-tag {
  border: none;
  font-size: 14px;
  width: 90%;
  margin-left: 2%;
  margin-bottom: 2%;
}
.autoresize{
  border: 0px;
}
.card-color-1{
  background-color: #ead3a7;
}
.card-color-2{
  background-color: #9de0f5;
}
.card-color-3{
  background-color:  #ef89ba;
}
.card-color-4{
  background-color:  #fae890;
}
.card-color-5{
  background-color:  #abe9c1;
}
.card-rotation-1{
  transform: rotate(2deg);
}
.card-rotation-2{
  transform: rotate(5deg);
}
.card-rotation-3{
  transform: rotate(-5deg);
}
.card-rotation-4{
  transform: rotate(-2deg);
}
.card-rotation-5{
  transform: rotate(3deg);
}
.card-rotation-6{
  transform: rotate(-3deg);
}
.card-rotation-7{
  transform: rotate(0deg);
}
.card-rotation-8{
  transform: rotate(1deg);
}
.card-rotation-9{
  transform: rotate(-1deg);
}
.card-rotation-10{
  transform: rotate(4deg);
}
.card-rotation-11{
  transform: rotate(-4deg);
}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
  font-size: 35px;
  margin-top: 25px;
  color: #4c4c4c;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-container-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;  
  align-content: center; 
  margin-top: 64px;


  
}
.home {
  position: absolute;
  bottom: 522px;
  right: 45px;
  height: 30px;
  width: 30px;
  object-fit: contain;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #e0af26;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #ef89ba;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.bodyy {

  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}
.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}

.button1{
  border-radius: 10rem;
  padding-left: 45rem ;
  padding-top: 2rem;
}

.card-low {
  width: 98%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.lixo {
    width: 30%;
    height: 39%;
    position: absolute;
    bottom: 0;
    right: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
}

.form-card-content {
  border: none;
  font-size: 14px;
  width: 90%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.form-card-edit {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;  
  margin: auto;
  margin-top: 100px;
  margin-bottom: 242px;
  height: 120px;
  width: 550px;
  padding-top: 30px;
  box-shadow: 0 0 1em #4c4c4c;
  border-radius:2%;
  padding:10%;
}


.tag {
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f7d736;
    height: 45px;
    width: 300px;
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: #4c4c4c;
    border-color: black; */
    /* border-width: 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(42, 48, 30);
    height: 35px;
    width: 70px;
    border-radius: 2%;
    margin-left: 630px;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 11px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: white;
    border-color: white;

    /* border-width: 1px; */
  }

.tag-note {
    position: absolute;
    bottom: 5px;
    left: 10px;
    margin-bottom: 7px;
    margin-left: -5px;
    font-family: 'Permanent Marker', cursive;
    color: #666565;
  }
  
  .update{
    position: absolute;
    display: block;
    padding: 10px 15px;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  
    background-color: #f7d736;
  
    transition: background-color 0.3s;
    margin-bottom: -168px;
    padding-bottom: 2%;
  }